.logo {
    height: 40px;
    width: 100px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .home-first {
    margin: 10% 0;
}
.footer {
    background-color: black;
    color: white;
}

.footer .padding-20 {
    padding: 20px;
}

.footer .no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }